/**/

html,body {
  background: rgb(206, 255, 210);
  height: 100%;
}

.out {
  border: solid 1px black;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: white;
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}

#btn2 {
  font-size: 2em;
}

#btn2::after {
  content: "▶";
  color: rgb(255, 251, 32);
}
